<div style="position: fixed; top: 0; left: 0; z-index: 999998; background-color: #333; opacity: .7"
         class="w-100 h-100"></div>
    <div [@openClose] style="position:fixed; z-index: 1000000; top: calc(50% - 100px); left: calc(50% - 50px); transform: scale(1.7)">
      <div class="loader book">
        <figure class="page"></figure>
        <figure class="page"></figure>
        <figure class="page"></figure>
        <figure class="page"></figure>
        <figure class="page"></figure>
      </div>
      <div style="text-align: center; position: relative; top: -100px;">
        <span class="let1">N</span>
        <span class="let2">E</span>
        <span class="let3">T</span>
        <span class="let4"> </span>
        <span class="let5">S</span>
        <span class="let6">H</span>
        <span class="let7">O</span>
        <span class="let8">P</span>
      </div>
    </div>
