.loader {
  margin: 5% auto 60px;
}
.book {
  border: 4px solid #FFFFFF;
  width: 60px;
  height: 45px;
  position: relative;
  perspective: 150px;
  background: #ddd;
}
.page {
  display: block;
  width: 30px;
  height: 45px;
  border: 4px solid #FFFFFF;
  border-left: 1px solid #2e6984;
  margin: 0;
  position: absolute;
  right: -4px;
  top: -4px;
  overflow: hidden;
  background: #2e6984;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.book .page:nth-child(1) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1s infinite; }
.book .page:nth-child(2) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.8s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.8s infinite; }
.book .page:nth-child(3) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.6s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.6s infinite; }
.book .page:nth-child(4) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.4s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.4s infinite; }
.book .page:nth-child(5) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.3s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0.3s infinite; }
@-webkit-keyframes pageTurn {
0% {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }
20% {
  background: #2e6984; }
40% {
  background: #2c6784;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }
100% {
  background: #2c6784;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); } }
@keyframes pageTurn {
0% {
  transform: rotateY(0deg); }
20% {
  background: #2e6984; }
40% {
  background: #2c6784;
  transform: rotateY(-180deg); }
100% {
  background: #2c6784;
  transform: rotateY(-180deg); } }
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-align: center; }
h1 {
  margin: 0;
  padding: 0;
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 200;
  font-size: 2.1em;
  color: #FFFFFF; }
span {
  position: relative;
  top: 0.63em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
  color: white;
  font-size: 1.5em; }
.let1 {
  animation: drop 1.0s ease-in-out infinite;
  animation-delay: 0.3s; }
.let2 {
  animation: drop 1.0s ease-in-out infinite;
  animation-delay: 0.1s; }
.let3 {
  animation: drop 1.0s ease-in-out infinite;
  animation-delay: 0.9s; }
.let4 {
  animation: drop 1.0s ease-in-out infinite;
  animation-delay: 0.6s; }
.let5 {
  animation: drop 1.0s ease-in-out infinite;
  animation-delay: 0.7s; }
.let6 {
  animation: drop 1.0s ease-in-out infinite;
  animation-delay: 0.6s; }
.let7 {
  animation: drop 1.0s ease-in-out infinite;
  animation-delay: 0.9s; }
.let8 {
  animation: drop 1.0s ease-in-out infinite;
  animation-delay: 0.8s; }
